<div class="container">
  <div class="hero-unit">

    <h1>Task <%= @task.name %></h1>
    <br>
      <%= link_to 'back to list', user_tasks_path(current_user), :class => "btn btn-primary pull-right" %>
    <br>


    <table class="table table-condensed">
      <tr>
        <td><strong>Text</strong></td>
        <td><%= @task.text %></td>
      </tr>
      <tr>
        <td><strong>Created at</strong></td>
        <td><%= @task.created_at %></td>
      </tr>
      <tr>
        <td><strong>Duration</strong></td>
        <td>
          <% if @task.duration.nil? %>
            <p name='timer' class='form-control timer'>0 sec</p>
          <% else %>
            <p name='timer' class='form-control timer pull-left'><%= @task.duration %></p>
            <span class="aux_text">&nbsp;sec</span>
          <% end %>
          
        </td>
      </tr>
    </table>
    <input type="hidden" class="task" task-id="<%= @task.id %>" user-id="<%= @task.user_id %>">
    
    <% if @task.duration.nil? %>
      <button class="btn btn-success start-timer-btn  " type="button">Start Task</button>
      <button class='btn btn-success resume-timer-btn hide'>Resume</button>
      <button class='btn pause-timer-btn hide'>Pause</button>
      <button class='btn btn-danger remove-timer-btn hide'>Close Task</button>
    <% else %>
      <button class='btn btn-success resume-timer-btn'>Resume</button>
      <button class='btn pause-timer-btn hide'>Pause</button>
      <button class='btn btn-danger remove-timer-btn'>Close Task</button>
    <% end %>

    
  </div>
</div>  